*
{
    padding: 0px;
    margin: 0px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.padre
{
    background: #85D4B7;
    padding: 20px;
    
}



.hijo1
{
    background: #85D4B7;
    text-align: center;
    display: flex;
    justify-content: center;
}




.hijo1 img{
    width: 290px;
    height: 60px;
    
}

.hijo2
{
    background: #85D4B7;
    margin-top: 20px;
    text-align: center;
    
}



.hijo3
{
    background: #6DCCAA;
    margin: 3px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.hijo3 a
{
    color: white;
    text-decoration: none;
}

@media (min-width: 900px)
{
    .hijo3
    {
        background: #85D4B7;
    }

}








/*CONTENIDO XXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/


.contenedor
{
    background: #6DCCAA;
    display: flex;           
    flex-direction: column;  
    justify-content: center; 
    align-items: center;     
    
    

}

.carrusel img
{
    
    width: 100%;
    height: 100%;
    
    
}




.subcontenedor
{
    background: #6DCCAA; 
    text-align: center;
    
}

/*FOTEER XXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/

.footer
{
    background: #6DCCAA;
    padding-top: 20px;
}

.fono
{
    background: #6DCCAA;
    margin-left: 20px;
}

.info
{
    background: #6DCCAA;
    
}

.fono p
{
    color: white;
    
}

.info p
{
    color: white;
}

@media(max-width: 900px)
{
    .fono p
    {
        color: #6DCCAA;
    }

    .info p
    {
        color: #6DCCAA;
    }
}


.redes
{
    background: #6DCCAA;
    margin-bottom: 40px;
    text-align: center;
}

#facebook
{
    width: 50px;
    height: 50px;
    
}

#correo
{
    width: 50px;
    height: 50px;
    
}

#instagram
{
    width: 50px;
    height: 50px;
    
}

#twitter
{
    width: 50px;
    height: 50px;
    
}



