.contenedor1
{
    background:white;
    
}

.contenedor2
{
    background:white;
}

.rescate{
    background: white;

}

.etapauno{
    background:white;

}

.desc1{

    background:white;

}

.img1{
    background:white;
}

.img2{
    background:white;
}


.crowd{
    background:white;


}


.financ{
    background:white;
}



.desc2{
    background:white;

}

.campana{
    background:white;
    

}

.boton{
    border-style: solid;
    padding: 1%;

}

