body{
    width: 60%;
    
    border-color: rgba(11, 99, 139, 0.459);
    border-style: double
}

.titulo{
    background: rgb(71, 253, 192);
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin: 2mm;
    padding: 1%;

}



.for{
    background:  linear-gradient(rgb(71, 253, 192) 10%,rgb(114, 250, 205) 70%, rgb(180, 250, 223) 90%);
    font-family: 'Times New Roman', Times, serif; 
    padding: 0.1mm;
    margin: 2mm;
}

.boton{
    text-align: right;
}