.fondo{

background: rgb(126, 197, 162);

}


.oso{

}

.maya{

}

.wifi{

}

.chocolate{

}

.pexel{

}

.bigotes{

}

.luna{

}

.contenedor{
    width: 100%;
    
}


@media only screen and (max-width: 600px){

    .oso{
        width: 135%;
    }

    .maya{
        width: 130%;
    }

    .wifi{
        width: 130%;
    }

    .chocolate{
        width: 115%;
    }

    .pexel{
        width: 115%;
    }

    .bigotes{
        width: 150%;
        
    }

    .luna{
        width: 150%;
    }

    .contenedor{
    
    }
}